{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
{{ block.super }}
<li>
{#    <a href="{% url 'cms_howto' %}" class="btn btn-high btn-success">CMS HowTo</a>#}
<a href="/admin/main/contentcontent/import/" class="grp-state-focus import_link">Import Contents from CSV</a>
</li>
{% endblock %}

