{% if item.teaser_image %}
    {% if item.link_teaser_image %}
        {% if item.read_more %}
            <a href="
                {% if item.alternate_target_url %}
                    {{ item.alternate_target_url }}
                {% else %}
                    /{{ item.category.category }}/content/{{ item.pk }}
                {% endif %}
               ">
                <img class="card-img-top" src="{{ item.teaser_image.url }}" alt="{{ item.title }}" title="{{ item.title }}">
            </a>
        {% endif %}
    {% else %}
        <img class="card-img-top" src="{{ item.teaser_image.url }}" alt="{{ item.title }}" title="{{ item.title }}">
    {%  endif %}
{%  endif %}